<%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
                <% user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <table class="w-100">
        <tr>
            <td width="20%"><%= form.label :email %></td>
            <td width="80%"><%= form.text_field :email, class:"w-100" %></td>
        </tr>

        <tr>
            <td><%= form.label :password %></td>
            <td><%= form.password_field :password, class:"w-100" %></td>
        </tr>

        <tr>
            <td><%= form.label :password_confirmation, class:"mr-2" %></td>
            <td><%= form.password_field :password_confirmation, class:"w-100" %></td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <td><%= form.label :username %></td>
            <td><%= form.text_field :username, class:"w-100" %></td>
        </tr>

        <tr>
            <td><%= form.label :description %></td>
            <td><%= form.text_area :description, cols: 20, rows: 8, class:"w-100" %></td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <td><%= form.label :address %></td>
            <td><%= form.text_area :address, cols: 20, rows: 8, class:"w-100" %></td>
        </tr>

        <tr>
            <td><%= form.label :long %></td>
            <td><%= form.text_field :long %></td>
        </tr>

        <tr>
            <td><%= form.label :lat %></td>
            <td><%= form.text_field :lat %></td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <td colspan="2">
                <%= form.file_field :avatar %>
            </td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <td colspan="2">
                <%= form.submit %>
            </td>
        </tr>

    </table>
<% end %>
