<h1>Users Index</h1>

<table class="table">
    <tr class="">
        <th>Avatar</th>
        <th>Username</th>
        <th>Email</th>
        <th width="30%">Description</th>
        <th width="20%">Address</th>
        <th>Total Uploads</th>
        <th>Role</th>
        <th colspan="3">Admin actions</th>
    </tr>
    <% @users.each do |u| %>
        <% next if u.role %>
        <tr>
            <td>
                <%= image_tag u.avatar.to_s,  size:"200" if u.avatar.to_s != "" %>
            </td>
            <td><%= u.username %></td>
            <td><%= u.email %></td>
            <td><%= u.description %></td>
            <td><%= u.address %></td>
            <td><%= u.photos.count %></td>
            <td>
                <% if u.role %>
                    Admin
                <% else %>
                    User
                <% end %>
            </td>            
            <td><%= link_to 'Show', user_photos_index_path(u.id), class:"btn btn-light", target:"_blank" %></td>
            <td><%= link_to 'Edit', edit_user_path(u.id), class:"btn btn-light", target:"_blank" %></td>
            <td><%= link_to 'Destroy', user_path(u.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-light" %></td>
        </tr>
    <% end %>
</table>