

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div id="gal_modal" class="modal-body">
                <%= render partial: "photos/show" %>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="row grid js-masonry w-100 ml-2 mr-2">
    <div class="grid-item col-sm-6 col-lg-3" >
        <div class="gal_item pt-4" style="background-color: #f8f9fa; min-height: 260px;">
           
            <h3> 
                <% if @user.username == current_user.username %>
                    My
                <% else %>
                    <%= @user.username.capitalize %> 
                <% end %>
                Profile 
            </h3>
        
            <table class="">
                <tr>
                    <td colspan="2">
                        <%= image_tag @user.avatar.to_s, class:"border rounded w-100", style:"background-size: cover;" %>
                    </td>
                </tr>
                <tr>
                    <td width="20%">Name</td>
                    <td>: <%= current_user.username %></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>: <%= current_user.email %></td>
                </tr>
            </table>
            
            <p> 
                <strong>About Me</strong>
                <br><%= current_user.description %>
            </p>
            
            <strong>My Whereabouts</strong>
            <div id="map" style="width: 100%; height: 300px;"></div>

            <p><strong>Total Uploads </strong>: <%= @user.photos.count %> </p>
        </div>
    </div>
    <br>
    <%= render partial: "photos/gallery" %>
</div>

<div class="d-none">
    <span id="lat"><%= current_user.lat %></span>
    <span id="long"><%= current_user.long %></span>
</div>

<script>
$(document).ready(function() {
    mapboxgl.accessToken = 'pk.eyJ1IjoibGltankwMTE0IiwiYSI6ImNqcmZyeGVveTFmenM0OWxwb2pheGZ3MW8ifQ.ka2dxppOoMDqiLiqzhh96Q';    
    var marker = 0;
    var client = new MapboxClient(mapboxgl.accessToken);
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10',
    });

    var coordinates = [];
    coordinates.push($('#long')[0].textContent);
    coordinates.push($('#lat')[0].textContent);
    console.log(coordinates);
    
    map.flyTo({
        center: coordinates,
        zoom: 16.5,
    });

    var marker = new mapboxgl.Marker().setLngLat(coordinates).addTo(map);
})
</script>